<div class="mb-24 mt-24">
  <h1 class="text-5xl p-2 tracking-tight  text-center font-extrabold text-transparent bg-clip-text bg-gradient-to-br drop-shadow-xl from-my-primary-700 to-my-accent-700">EXPLORE. PREVIEW. EXPORT.</h1>
  <p class="text-sm text-center text-gray-700">Comprehensive hand-picked color palettes for your next project.</p>
  <p class="text-sm text-center text-gray-700">Inspired by <a class="underline" href="https://www.refactoringui.com/" target="_blank"> Refactoring  UI </a></p>
  <button class="btn border-none flex items-center justify-center mt-16 mx-auto py-4 text-white rounded-lg px-8 bg-gray-700">Explore Palettes</button>
  <div class="mt-24">
    <h2 class="mb-1 text-lg max-w-[14rem]">What every other color palette explorer gives you: </h2>
    <p class="mb-6 text-gray-500 text-xs">An incomplete set of 4-6 colors that will be insufficient for a complex UI.</p>
    <div class="flex p-4 bg-gray-200 rounded-lg mb-2 max-w-fit">
      <span class="h-32 w-32 bg-accent"></span>
      <span class="h-32 w-32 bg-primary"></span>
      <span class="h-32 w-32 bg-primary-content"></span>
      <span class="h-32 w-32 bg-secondary"></span>
      <span class="h-32 w-32 bg-secondary-focus"></span>
    </div>
  </div>
  <div class="mt-24">
    <h2 class="mb-1 text-lg">What you actually need: </h2>
    <p class="mb-6 text-gray-500 text-xs">5-10 shades of a primary, accent and a neutral color to create a modern design. </p>
    <div class="bg-gradient-to-r from-gray-100 to-gray-400">
    <div class="grid grid-cols-4 p-4 rounded-lg mb-2 p-8">
      <div class="flex flex-col mr-8 col-span-1">
        <h3 class="text-md">Primary</h3>
        <p class="text-xs text-gray-500">navigation, primary buttons </p>
      </div>
      <div class="flex items-center col-span-3 justify-self-center">
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-primary-900"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-primary-800"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-primary-700"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-primary-600"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-primary-500"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-primary-400"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-primary-300"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-primary-200"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-primary-100"></span>
      </div>
    </div>
    <div class="grid grid-cols-4 p-4  rounded-lg mb-2">
      <div class="flex flex-col mr-8 col-span-1">
        <h3 class="text-md">Accent</h3>
        <p class="text-xs text-gray-500">ex: navigation, primary buttons, logo </p>
      </div>
      <div class="flex items-center col-span-3 justify-self-center">
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-accent-900"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-accent-800"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-accent-700"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-accent-600"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-accent-500"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-accent-400"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-accent-300"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-accent-200"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-accent-100"></span>
      </div>
    </div>
    <div class="grid grid-cols-4 p-4  rounded-lg mb-2">
      <div class="flex flex-col mr-8 col-span-1">
        <h3 class="text-md">Neutral</h3>
        <p class="text-xs text-gray-500">ex: navigation, primary buttons, logo </p>
      </div>
      <div class="flex items-center col-span-3 justify-self-center">
        <span class="h-12 w-12 -ml-4 rounded-full bg-gray-900"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-gray-800"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-gray-700"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-gray-600"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-gray-500"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-gray-400"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-gray-300"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-gray-200"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-gray-100"></span>
      </div>
    </div>
    <div class="grid grid-cols-4 p-4  rounded-lg mb-2">
      <div class="flex flex-col mr-8 col-span-1">
        <h3 class="text-md">Success</h3>
        <p class="text-xs text-gray-500">ex: navigation, primary buttons, logo </p>
      </div>
      <div class="flex items-center col-span-3 justify-self-center">
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-confirm-900"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-confirm-800"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-confirm-700"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-confirm-600"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-confirm-500"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-confirm-400"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-confirm-300"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-confirm-200"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-confirm-100"></span>
      </div>
    </div>
    <div class="grid grid-cols-4 p-4  rounded-lg mb-2">
      <div class="flex flex-col mr-8 col-span-1">
        <h3 class="text-md">Warning</h3>
        <p class="text-xs text-gray-500">ex: navigation, primary buttons, logo </p>
      </div>
      <div class="flex items-center col-span-3 justify-self-center">
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-warning-900"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-warning-800"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-warning-700"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-warning-600"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-warning-500"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-warning-400"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-warning-300"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-warning-200"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-warning-100"></span>
      </div>
    </div>
    <div class="grid grid-cols-4 p-4  rounded-lg mb-2">
      <div class="flex flex-col mr-8 col-span-1">
        <h3 class="text-md">Error</h3>
        <p class="text-xs text-gray-500">ex: navigation, primary buttons, logo </p>
      </div>
      <div class="flex items-center col-span-3 justify-self-center">
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-error-900"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-error-800"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-error-700"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-error-600"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-error-500"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-error-400"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-error-300"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-error-200"></span>
        <span class="h-12 w-12 -ml-4 rounded-full bg-my-error-100"></span>
      </div>
    </div>
  </div>
  <div>
</div>
