<div class="p-8 rounded-lg bg-my-gray-100 relative max-w-[50rem]">
    <!-- <div class="absolute top-0 left-1/4">
        <div class="h-[100rem] w-16 rotate-45 bg-my-accent-500 opacity-30 blur-2xl"></div>
    </div> -->
    <div class="relative z-10">
        <div class="border-b-2 pb-16">
            <div class="grid grid-cols-3 text-sm">
                <h2>SANDHU</h2>
                <ul class="flex space-x-6 justify-center">
                    <li>PROJECTS</li>
                    <li>EXPERIENCE</li>
                </ul>
                <ul class="flex space-x-4 justify-end">
                    <li><img src="../../../assets/t.png" alt="" height="16" width="16"></li>
                    <li><img src="../../../assets/f.png" alt="" height="16" width="16"></li>
                    <li><img src="../../../assets/l.png" alt="" height="16" width="16"></li>
                    <li><img src="../../../assets/m.png" alt="" height="16" width="16"></li>
                </ul>
            </div>
            <div>
                <div class="grid grid-cols-3 justify-center mt-16">
                    <h1 class="flex flex-col justify-end">
                        <span class="text-lg">John Doe</span>
                        <span class="text-my-gray-500 font-light mt-4 text-sm">Front-end Developer</span>
                        <span class="text-my-gray-500 font-light text-sm">Based in Antartica</span>
                        <p class="text-my-gray-500 font-light text-xs mt-4 max-w-[13rem]">Just your average web
                            developer, spending my days coding away in a dark, windowless room and living off a steady
                            diet of Red Bull and pizza. I'm basically a robot at this point.</p>
                    </h1>
                    <img class="justify-self-center bg-gradient-to-b from-my-primary-200 to-my-primary-100 rounded-full max-h-[30rem] h-auto pt-6"
                        src="../../../assets/portrait.png" alt="">
                    <p class="self-end text-xs ml-8 text-right text-my-gray-500">Just your average web developer,
                        spending my days coding away in a dark, windowless room and living off a steady diet of Red Bull
                        and pizza. I'm basically a robot at this point.</p>
                </div>
            </div>
        </div>
        <div class="mt-16 bg-my-primary-100 p-6 rounded-lg flex">
            <div class="justify-center flex flex-col">
                <h2 class="mr-36 mb-1">Tech Stack</h2>
                <p class="text-xs max-w-[10rem] text-gray-500">Technologies I have the most experience with</p>
            </div>

            <ul class="flex gap-6 justify-center flex-wrap">
                <li class="flex flex-col justify-center items-center bg-white p-6 rounded-full">
                    <img src="../../../assets/figma.png" alt="" height="36" width="36">
                    <h3 class="text-xs mt-4">Figma</h3>
                </li>
                <li class="flex flex-col justify-center items-center bg-white p-6 rounded-full">
                    <img src="../../../assets/angular.png" alt="" height="36" width="36">
                    <h3 class="text-xs mt-4">Angular</h3>
                </li>
                <li class="flex flex-col justify-center items-center bg-white p-6 rounded-full">
                    <img src="../../../assets/tailwind.png" alt="" height="36" width="36">
                    <h3 class="text-xs mt-4">Tailwind</h3>
                </li>
                <li class="flex flex-col justify-center items-center bg-white p-6 rounded-full">

                    <img src="../../../assets/xd.png" alt="" height="36" width="36">
                    <h3 class="text-xs mt-4">Adobe</h3>
                </li>
            </ul>
        </div>
        <div class="border-b-2 my-16"></div>
        <div>
            <h2 class="text-center mb-8">My Latest Projects</h2>
            <ul class="flex gap-6 justify-center flex-wrap">
                <li>
                    <div class="w-36 h-36 bg-my-accent-100 mb-3 p-10"><img src="../../../assets/portfolio.png" alt="">
                    </div>
                    <p class="text-xs text-gray-600">Figma</p>
                    <h3>Portfolio</h3>
                </li>
                <li>
                    <div class="w-36 h-36 bg-my-primary-100 mb-3 p-10"><img src="../../../assets/snake.png" alt="">
                    </div>
                    <p class="text-xs text-gray-600">Python</p>
                    <h3>Snake Game</h3>
                </li>
                <li>
                    <div class="w-36 h-36 bg-my-accent-100 mb-3 p-10"><img src="../../../assets/browser.png" alt="">
                    </div>
                    <p class="text-xs text-gray-600">Angular</p>
                    <h3>Api generator</h3>
                </li>
                <li>
                    <div class="w-36 h-36 bg-my-primary-100 mb-3 p-10"><img src="../../../assets/palette.png" alt="">
                    </div>
                    <p class="text-xs text-gray-600">Tailwind</p>
                    <h3>Palette generator</h3>
                </li>

            </ul>
        </div>
    </div>
</div>