<div class="grid grid-cols-8 bg-primary-clear p-4 rounded-lg text-clear">
  <div class="col-span-2">
    <h3 class="text-2xs font-light">Total Hours</h3>
    <span class="text-lg ">23h</span>
  </div>
  <div class="divider divider-horizontal before:bg-primary-dull after:bg-primary-dull"></div>
  <div class="col-span-2">
    <h3 class="text-2xs font-light">Daily Streak</h3>
    <span class="text-lg">182</span>
  </div>
  <div class="divider divider-horizontal before:bg-primary-dull after:bg-primary-dull"></div>
  <div class="col-span-2">
    <h3 class="text-2xs font-light">Friends</h3>
    <span class="text-lg">7</span>
  </div>
</div>