<button [style.background-color]="theme['bg']" (click)="onThemeClick()"
  class="hover:bg-my-gray-200 w-full shadow-inner snap-center flex justify-center items-center py-3 px-6 bg-gray-100 rounded-lg">
  <span class="h-5 w-5 rounded-full" [style.background-color]="theme['primary-clear']"></span>
  <span class="h-5 w-5 -ml-1 rounded-full" [style.background-color]="theme['primary-dull']"></span>
  <span class="h-5 w-5 -ml-1 rounded-full" [style.background-color]="theme['accent-clear']"></span>
  <span class="h-5 w-5 -ml-1 rounded-full" [style.background-color]="theme['accent-dull']"></span>
</button>