<div class="flex mb-8 border-4 border-white shadow-lg">
  <button (click)="copyMessage(variables['bg'])"
    class="relative group w-12 h-16 bg-primary-clear hover:w-32 transition-all flex justify-center items-center"
    [ngClass]="{'text-white': pickTextColor(variables['primary-clear']) === false, 'text-black': pickTextColor(variables['primary-clear']) === true }">
    <h6 class="group-hover:visible invisible" [ngClass]="{'hidden': copyClicked === true}">
      {{variables['primary-clear']}}</h6>
    <span class="group-hover:visible invisible opacity-0 absolute inset-0 top-4"
      [ngClass]="{'opacity-100': copyClicked === true}"> copied!
    </span>
  </button>
  <button (click)="copyMessage(variables['bg'])"
    class="relative group w-12 h-16 bg-primary-dull hover:w-32 transition-all flex justify-center items-center focus:ring-2"
    [ngClass]="{'text-white': pickTextColor(variables['primary-dull']) === false, 'text-black': pickTextColor(variables['primary-dull']) === true }">
    <h6 class="group-hover:visible invisible group-focus:hidden">
      {{variables['primary-dull']}}</h6>
    <span class="group-hover:visible invisible opacity-0 absolute inset-0 top-4 group-focus:opacity-100">
      copied!
    </span>
  </button>
  <div class="w-12 h-16 bg-primary-visible hover:w-32 transition-all"></div>
  <div class="w-12 h-16 bg-accent-clear hover:w-32 transition-all"></div>
  <div class="w-12 h-16 bg-accent-dull hover:w-32 transition-all"></div>
  <div class="w-12 h-16 bg-bg-focus hover:w-32 transition-all"></div>
  <div class="w-12 h-16 bg-clear hover:w-32 transition-all"></div>
  <div class="w-12 h-16 bg-dull hover:w-32 transition-all"></div>
  <div class="w-12 h-16 bg-duller hover:w-32 transition-all"></div>
</div>