<div class="flex items-center mb-8">
  <div class=" border-2 border-white shadow-lg text-sm hidden md:flex mr-4">
    <!-- <button (click)="showCopied()" [cdkCopyToClipboard]="variables['primary-clear']" class="group relative group w-10 h-16 bg-primary-clear hover:w-40 transition-all flex justify-center items-center
      after:content-['copied'] after:absolute after:-top-4 after:left-0 after:opacity-0"
      [ngClass]="{'text-white': pickTextColor(variables['primary-clear']) === false, 'text-black': pickTextColor(variables['primary-clear']) === true, '!after:opacity-100': copyClicked === true }">
      <span class="group-hover:inline hidden group-focus:hidden">{{ variables['primary-clear'] }}</span>
    </button> -->

    <button (click)="copyMessage(variables['primaryClear'])"
      class="relative group w-10 h-16 bg-primary-clear hover:w-40 transition-all flex justify-center items-center"
      [ngClass]="{'text-white': pickTextColor(variables['primaryClear']) === false, 'text-black': pickTextColor(variables['primaryClear']) === true }">
      <h6 class="group-hover:visible invisible" [ngClass]="{'hidden': copyClicked === true}">
        {{variables['primaryClear']}}</h6>
      <span class="group-hover:visible invisible opacity-0 absolute inset-0 top-4"
        [ngClass]="{'opacity-100': copyClicked === true}"> copied!
      </span>
    </button>

    <button (click)="copyMessage(variables['primaryDull'])"
      class="relative group w-10 h-16 bg-primary-dull hover:w-40 transition-all flex justify-center items-center"
      [ngClass]="{'text-white': pickTextColor(variables['primaryDull']) === false, 'text-black': pickTextColor(variables['primaryDull']) === true }">
      <h6 class="group-hover:visible invisible" [ngClass]="{'hidden': copyClicked === true}">
        {{variables['primaryDull']}}</h6>
      <span class="group-hover:visible invisible opacity-0 absolute inset-0 top-4"
        [ngClass]="{'opacity-100': copyClicked === true}"> copied!
      </span>
    </button>

    <button (click)="copyMessage(variables['primaryVisible'])"
      class="relative group w-10 h-16 bg-primary-visible hover:w-40 transition-all flex justify-center items-center"
      [ngClass]="{'text-white': pickTextColor(variables['primaryVisible']) === false, 'text-black': pickTextColor(variables['primaryVisible']) === true }">
      <h6 class="group-hover:visible invisible" [ngClass]="{'hidden': copyClicked === true}">
        {{variables['primaryVisible']}}</h6>
      <span class="group-hover:visible invisible opacity-0 absolute inset-0 top-4"
        [ngClass]="{'opacity-100': copyClicked === true}"> copied!
      </span>
    </button>

    <button (click)="copyMessage(variables['accentClear'])"
      class="relative group w-10 h-16 bg-accent-clear hover:w-40 transition-all flex justify-center items-center"
      [ngClass]="{'text-white': pickTextColor(variables['accentClear']) === false, 'text-black': pickTextColor(variables['accentClear']) === true }">
      <h6 class="group-hover:visible invisible" [ngClass]="{'hidden': copyClicked === true}">
        {{variables['accentClear']}}</h6>
      <span class="group-hover:visible invisible opacity-0 absolute inset-0 top-4"
        [ngClass]="{'opacity-100': copyClicked === true}"> copied!
      </span>
    </button>

    <button (click)="copyMessage(variables['accentDull'])"
      class="relative group w-10 h-16 bg-accent-dull hover:w-40 transition-all flex justify-center items-center"
      [ngClass]="{'text-white': pickTextColor(variables['accentDull']) === false, 'text-black': pickTextColor(variables['accentDull']) === true }">
      <h6 class="group-hover:visible invisible" [ngClass]="{'hidden': copyClicked === true}">
        {{variables['accentDull']}}</h6>
      <span class="group-hover:visible invisible opacity-0 absolute inset-0 top-4"
        [ngClass]="{'opacity-100': copyClicked === true}"> copied!
      </span>
    </button>

    <button (click)="copyMessage(variables['bg'])"
      class="relative group w-10 h-16 bg-bg hover:w-40 transition-all flex justify-center items-center"
      [ngClass]="{'text-white': pickTextColor(variables['bg']) === false, 'text-black': pickTextColor(variables['bg']) === true }">
      <h6 class="group-hover:visible invisible" [ngClass]="{'hidden': copyClicked === true}">
        {{variables['bg']}}</h6>
      <span class="group-hover:visible invisible opacity-0 absolute inset-0 top-4"
        [ngClass]="{'opacity-100': copyClicked === true}"> copied!
      </span>
    </button>

    <button (click)="copyMessage(variables['bgFocus'])"
      class="relative group w-10 h-16 bg-bg-focus hover:w-40 transition-all flex justify-center items-center"
      [ngClass]="{'text-white': pickTextColor(variables['bgFocus']) === false, 'text-black': pickTextColor(variables['bgFocus']) === true }">
      <h6 class="group-hover:visible invisible" [ngClass]="{'hidden': copyClicked === true}">
        {{variables['bgFocus']}}</h6>
      <span class="group-hover:visible invisible opacity-0 absolute inset-0 top-4"
        [ngClass]="{'opacity-100': copyClicked === true}"> copied!
      </span>
    </button>

    <button (click)="copyMessage(variables['duller'])"
      class="relative group w-10 h-16 bg-duller hover:w-40 transition-all flex justify-center items-center"
      [ngClass]="{'text-white': pickTextColor(variables['duller']) === false, 'text-black': pickTextColor(variables['duller']) === true }">
      <h6 class="group-hover:visible invisible" [ngClass]="{'hidden': copyClicked === true}">
        {{variables['duller']}}</h6>
      <span class="group-hover:visible invisible opacity-0 absolute inset-0 top-4"
        [ngClass]="{'opacity-100': copyClicked === true}"> copied!
      </span>
    </button>

    <button (click)="copyMessage(variables['clear'])"
      class="relative group w-10 h-16 bg-clear hover:w-40 transition-all flex justify-center items-center"
      [ngClass]="{'text-white': pickTextColor(variables['clear']) === false, 'text-black': pickTextColor(variables['clear']) === true }">
      <h6 class="group-hover:visible invisible" [ngClass]="{'hidden': copyClicked === true}">
        {{variables['clear']}}</h6>
      <span class="group-hover:visible invisible opacity-0 absolute inset-0 top-4"
        [ngClass]="{'opacity-100': copyClicked === true}"> copied!
      </span>
    </button>

    <button (click)="copyMessage(variables['dull'])"
      class="relative group w-10 h-16 bg-dull hover:w-40 transition-all flex justify-center items-center"
      [ngClass]="{'text-white': pickTextColor(variables['dull']) === false, 'text-black': pickTextColor(variables['dull']) === true }">
      <h6 class="group-hover:visible invisible" [ngClass]="{'hidden': copyClicked === true}">
        {{variables['dull']}}</h6>
      <span class="group-hover:visible invisible opacity-0 absolute inset-0 top-4"
        [ngClass]="{'opacity-100': copyClicked === true}"> copied!
      </span>
    </button>



    <!-- <div class="w-10 h-16 bg-accent-clear hover:w-40 transition-all"></div>
    <div class="w-10 h-16 bg-accent-dull hover:w-40 transition-all"></div>
    <div class="w-10 h-16 bg-bg-focus hover:w-40 transition-all"></div>
    <div class="w-10 h-16 bg-clear hover:w-40 transition-all"></div>
    <div class="w-10 h-16 bg-dull hover:w-40 transition-all"></div>
    <div class="w-10 h-16 bg-duller hover:w-40 transition-all"></div> -->
  </div>
  <!-- <button><span class="material-symbols-rounded text-clear">
      copy_all
    </span>
    {{variables | json}}
  </button> -->

  <!-- The button to open modal -->
  <label for="my-modal-6"
    class="btn bg-bg text-dull border-dull hover:bg-primary-clear hover:text-primary-visible lowercase"> <span
      class="material-symbols-rounded mr-2">
      copy_all
    </span> export</label>

  <!-- Put this part before </body> tag -->
  <input type="checkbox" id="my-modal-6" class="modal-toggle" />
  <div class="modal modal-bottom sm:modal-middle">
    <div class="modal-box bg-bg">
      <label for="my-modal-6" class="btn btn-sm btn-circle absolute right-3 top-3 bg-bg-focus text-clear">✕</label>
      <h3 class="font-bold text-lg mb-4 text-clear">Copy Palette</h3>
      <pre class="text-clear" #palette>
    --primary-100:{{ variables['primary-clear'] }};
    --primary-200:{{ variables['primary-dull'] }};
    --primary-300:{{ variables['primary-visible'] }};
    --accent-100:{{ variables['accent-clear'] }};
    --accent-200:{{ variables['accent-dull'] }};
    --text-100:{{ variables['clear'] }};
    --text-200:{{ variables['dull'] }};
    --bg-100:{{ variables['bg'] }};
    --bg-200:{{ variables['bg-focus'] }};
    --bg-300:{{ variables['duller'] }};
      </pre>
      <div class="modal-action">
        <label [cdkCopyToClipboard]="palette.textContent!" for="my-modal-6"
          class="btn bg-bg-focus text-clear hover:bg-primary-clear hover:text-primary-visible">Copy!</label>
      </div>
    </div>
  </div>
</div>