<h3 class="font-semibold text-clear text-xs">Statistics</h3>
<div class="flex rounded-lg pt-4 pb-6 overflow-hidden">
  <div class="flex flex-col">
    <!--    <p class="text-xs text-gray-500">Time spent across all your learning platforms this week. </p>-->
  </div>
  <div
    class="flex space-x-4 [&>*]:p-4 [&>*]:w-32 [&>*]:shadow-md [&>*]:shadow [&>*]:rounded-b-lg [&>*]:bg-bg-focus [&>*]:text-left [&>*]:border-t-4 [&>*]:border-my-primary-700">
    <div>
      <img class="mb-1 invert" src="assets/udemy.png">
      <h4 class="text-2xs accent-gray-600 mb-4 text-dull">Udemy&nbsp;<span
          class="ml-1 text-2xs bg-my-accent-200 font-semibold uppercase px-2 py-[0.5px] rounded-lg text-my-accent-900">new</span>
      </h4>
      <span class="font-extrabold text-3xl text-clear">12h</span>
      <p class="text-my-confirm-700 text-xs">+27%</p>
    </div>
    <div>
      <img class="mb-1 invert" src="assets/coursera.png">
      <h4 class="text-xs accent-gray-600 mb-4 text-dull">Coursera</h4>
      <span class="font-extrabold text-3xl text-clear">7h</span>
      <p class="text-my-error-800 text-xs">-13%</p>
    </div>
    <div>
      <img class="mb-1 invert" src="assets/youtube.png" width="24" height="24">
      <h4 class="text-xs accent-gray-600 mb-4 text-dull">Youtube</h4>
      <span class="font-extrabold text-3xl text-clear">2h</span>
      <p class="text-my-confirm-700 text-xs">+38%</p>
    </div>
    <div>
      <img class="mb-1 invert" src="assets/skillshare.png">
      <h4 class="text-xs accent-gray-600 mb-4 text-dull">Skillshare</h4>
      <span class="font-extrabold text-3xl text-clear">1h</span>
      <p class="text-my-confirm-700 text-xs">+13%</p>
    </div>
  </div>
</div>