<div class="flex justify-center items-center shadow-md m-8 p-2 rounded-lg bg-gray-200">
  <div class="flex flex-col">
    <h3>Total Hours Spent</h3>
    <p class="text-xs text-gray-500">Time spent across all your learning platforms this week. </p>
  </div>
  <div class="flex">
    <div class="p-4 shadow-xl rounded-lg m-4">
      <h4>Udemy</h4>
      <span>12hr</span>
      <span class="block">+ 47%</span>
    </div>
    <div class="p-4 shadow-xl rounded-lg m-4">
      <h4>Udemy</h4>
      <span>12hr</span>
      <span class="block">+ 47%</span>
    </div>
    <div class="p-4 shadow-xl rounded-lg m-4">
      <h4>Udemy</h4>
      <span>12hr</span>
      <span class="block">+ 47%</span>
    </div>
    <div class="p-4 shadow-xl rounded-lg m-4">
      <h4>Udemy</h4>
      <span>12hr</span>
      <span class="block">+ 47%</span>
    </div>
  </div>
</div>
