<div class="shadow-lg shadow-gray-300 flex flex-col justify-center items-center m-8 border-t-4 border-my-error-700 max-w-[30rem]">
    <div class="pl-6 py-6 pr-8 relative">
        <div class="absolute">
            <div class="w-8 h-8 bg-my-error-600 rounded-full relative outline outline-4 outline-my-error-300">
                <div class="w-6 h-6 bg-white rounded-full absolute top-1 right-1 flex items-center justify-center">
                    <span class="font-bold text-my-error-700">!</span>
                </div>
            </div>
        </div>
        <div class="ml-12">
            <h3 class="text-lg text-gray-700 mt-1 mb-3">Delete playlist</h3>
            <p class="text-gray-500 text-sm">Are you sure you want to delete your playlist? By doing this you will lose all of your saved data and will not be able to retrieve it.</p>
        </div>
    </div>
    <div class="bg-gray-100 w-full p-4 flex">
        <button class="ml-auto text-gray-700">Cancel</button>
        <button class="mx-4 px-6 py-2 rounded-lg text-lg bg-my-error-200 text-my-error-900">Delete</button>
    </div>
</div>