<div class="bg-bg p-8 flex text-clear rounded-lg shadow-inner">
    <div class="border-r border-dull pr-8">
        <!-- <div class="mb-12 flex items-center">
            <img class="mr-2" src="../../../assets/react.png" alt="" width="40" height="40">
            <h1>Almundo</h1>
        </div> -->
        <div class="flex flex-col mb-24 items-center text-center">
            <div class="w-12 h-12 bg-bg-focus rounded-full mb-3">
                <div class="overflow-hidden inline-block flex items-center justify-center flex-col w-full h-full">
                    <div class="h-2 w-2 rounded-full bg-accent-clear"></div>
                    <div class="h-3 w-3 bg-primary-clear "></div>
                </div>
            </div>
            <div class="flex flex-col justify-center">
                <div class="font-bold text-sm">John Doe</div>
                <h3 class="text-dull text-2xs">Developer</h3>
            </div>
        </div>
        <ul class="flex flex-col space-y-6">
            <li class="flex items-center">
                <div class="h-9 w-9 rounded-md bg-primary-clear mr-4 flex justify-center items-center">
                    <span class="material-symbols-rounded text-clear">
                        account_balance_wallet
                    </span>
                </div>
                <div>
                    <p class="font-medium text-xs">Wallet</p>
                </div>
            </li>
            <li class="flex items-center">
                <div class="h-9 w-9 rounded-md bg-bg-focus mr-4 flex justify-center items-center">
                    <span class="material-symbols-rounded text-clear">
                        data_thresholding
                    </span>
                </div>
                <div>
                    <p class="font-medium text-xs">Portfolio</p>

                </div>
            </li>
            <li class="flex items-center">
                <div class="h-9 w-9 rounded-md bg-bg-focus mr-4 flex justify-center items-center">
                    <span class="material-symbols-rounded text-clear">
                        engineering
                    </span>
                </div>
                <div>
                    <p class="font-medium text-xs">Projects</p>
                </div>
            </li>
            <li class="flex items-center">
                <div class="h-9 w-9 rounded-md bg-bg-focus mr-4 flex justify-center items-center">
                    <span class="material-symbols-rounded text-clear">
                        move_up
                    </span>
                </div>
                <div>
                    <p class="font-medium text-xs">Transfers</p>
                </div>
            </li>
        </ul>
        <div class="mt-24 flex space-x-2 justify-center text-sm text-dull">
            <span class="material-symbols-rounded">
                logout
            </span>
            <span>Log Out</span>
        </div>
    </div>

    <div class="ml-8 grid grid-cols-2 auto-rows-min">
        <div>
            <p class="text-dull text-xs">Open a deposit and get a 1% instant bonus</p>
            <div class="shadow-inner flex p-6 pr-[7rem] mt-4 bg-primary-clear rounded-xl">
                <div>
                    <h3 class="font-medium text-clear">Total balance</h3>
                    <p class="text-5xl font-thin mt-4 text-clear"> <span class="text-xl">$</span> 439,177</p>
                </div>
            </div>
            <div class="mt-4 p-6 bg-bg-focus rounded-xl shadow-inner">
                <h3 class="font-medium">Income</h3>
                <ul class="mt-6 space-y-3">
                    <li class="flex">
                        <div class="w-8 h-8 bg-accent-dull rounded-lg mr-4">
                            <div
                                class="overflow-hidden inline-block flex items-center justify-center flex-col w-full h-full">
                                <div class="h-1.5 w-1.5 rounded-t-full bg-bg"></div>
                                <div class="h-2.5 w-2.5 rounded-t-full bg-accent-clear "></div>
                            </div>
                        </div>
                        <div class="flex flex-col ">
                            <h4 class="text-sm">Kriti Sharma</h4>
                            <p class="text-xs text-dull">2 minutes ago</p>
                        </div>
                        <p class="ml-auto mt-2 text-dull text-xs">+$1000</p>
                    </li>
                    <li class="flex">
                        <div class="w-8 h-8 bg-accent-dull rounded-lg mr-4">
                            <div
                                class="overflow-hidden inline-block flex items-center justify-center flex-col w-full h-full">
                                <div class="h-1.5 w-1.5 rounded-t-full bg-bg mb-[1px]"></div>
                                <div class="h-2.5 w-2.5  bg-accent-clear "></div>
                            </div>
                        </div>
                        <div class="flex flex-col ">
                            <h4 class="text-sm">James Hudson</h4>
                            <p class="text-xs text-dull">4 day ago</p>
                        </div>
                        <p class="ml-auto mt-2 text-dull text-xs">+$2500</p>
                    </li>
                    <li class="flex">
                        <div class="w-8 h-8 bg-accent-dull rounded-lg mr-4">
                            <div
                                class="overflow-hidden inline-block flex items-center justify-center flex-col w-full h-full">
                                <div class="h-1.5 w-1.5 rounded-t-full bg-bg"></div>
                                <div class="h-2.5 w-2.5 rounded-t-full bg-accent-clear "></div>
                            </div>
                        </div>
                        <div class="flex flex-col ">
                            <h4 class="text-sm">James Hudson</h4>
                            <p class="text-xs text-dull">1 week ago</p>
                        </div>
                        <p class="ml-auto mt-2 text-dull text-xs">+$6900</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bg-bg-focus ml-4 mt-8 rounded-lg">
            <div class="p-6  shadow-inner">
                <div class="flex pb-1">
                    <h3 class="font-medium">Transactions</h3>
                    <!-- <p class="ml-auto text-gray-500 text-xs text-end">view all</p> -->
                </div>
                <ul class="mt-3 space-y-2">
                    <li class="flex">
                        <div class="flex flex-col ">
                            <h4 class="text-xs">Amazon</h4>
                            <p class="text-xxs text-dull">June, 14 2022 at 6:59PM</p>
                        </div>
                        <p class="ml-auto mt-2 text-dull text-xs">-$44.47</p>
                    </li>
                    <li class="flex">
                        <div class="flex flex-col ">
                            <h4 class="text-xs">Ebay</h4>
                            <p class="text-xxs text-dull">May, 21 2022 at 2:01PM</p>
                        </div>
                        <p class="ml-auto mt-2 text-dull text-xs">-$191.00</p>
                    </li>
                    <li class="flex">
                        <div class="flex flex-col ">
                            <h4 class="text-xs">Tim Hortons</h4>
                            <p class="text-xxs text-dull">June, 14 2022 at 6:59PM</p>
                        </div>
                        <p class="ml-auto mt-2 text-dull text-xs">-$3.47</p>
                    </li>
                    <li class="flex">
                        <div class="flex flex-col ">
                            <h4 class="text-xs">Camp Nou</h4>
                            <p class="text-xxs text-dull">feb, 14 2022 at 7:00AM</p>
                        </div>
                        <p class="ml-auto mt-2 text-dull text-xs">-$12.99</p>
                    </li>
                    <li class="flex">
                        <div class="flex flex-col ">
                            <h4 class="text-xs">Amazon</h4>
                            <p class="text-xxs text-dull">June, 14 2022 at 6:59PM</p>
                        </div>
                        <p class="ml-auto mt-2 text-dull text-xs">-$96.47</p>
                    </li>
                </ul>
            </div>
            <div class="flex gap-4 ml-4 mt-4">
                <div class="flex px-4 py-3 rounded-lg w-full h-min items-center">
                    <div class="mr-4">
                        <h4 class="text-dull text-xxs">Income</h4>
                        <p class="text-clear">$3500</p>
                    </div>
                    <span class="material-symbols-rounded text-my-confirm-700 p-2 rounded-full bg-my-confirm-100">
                        trending_up
                    </span>
                </div>
                <div class="flex px-4 py-3 rounded-lg w-full h-min items-center">
                    <div class="mr-4">
                        <h4 class="text-dull text-xxs">Spendings</h4>
                        <p>$937</p>
                    </div>
                    <span class="material-symbols-rounded text-my-error-700 p-2 rounded-full bg-my-error-100">
                        trending_down
                    </span>
                </div>
            </div>
        </div>

        <div class="p-6 mt-4 bg-bg-focus rounded-lg col-span-2 flex justify-center items-center shadow-inner">
            <div class="mr-16">
                <h2 class="font-semibold text-clear">Investments</h2>
                <p class="text-xxs text-dull">Change since last login</p>
            </div>
            <ul class="flex justify-center items-center gap-6 [&>*]:p-3  [&>*]:bg-bg [&>*]:rounded-lg">
                <li class="text-center">
                    <h4 class="mb-3 text-xxs px-2 py-1 bg-primary-dull text-primary-clear rounded-full">APPL</h4>
                    <p class="text-xxs text-gray-600 mb-0.5">Apple Inc</p>
                    <p class="font-medium text-my-confirm-700">+3%</p>
                </li>
                <li class="text-center">
                    <h4 class="mb-3 text-xxs px-2 py-1 bg-primary-dull text-primary-clear rounded-full">TSLA</h4>
                    <p class="text-xxs text-gray-600 mb-0.5">Tesla Inc</p>
                    <p class="font-medium text-my-error-700">-1.9%</p>
                </li>
                <li class="text-center">
                    <h4 class="mb-3 text-xxs px-2 py-1 bg-primary-dull text-primary-clear rounded-full">EBAY</h4>
                    <p class="text-xxs text-gray-600 mb-0.5">eBay Inc</p>
                    <p class="font-medium text-my-confirm-700">+1.1%</p>
                </li>

                <li class="h-[6.2rem] !bg-primary-clear">
                    <p class="text-xs text-medium text-clear mb-4 pr-2">view <br> all</p>
                    <span class="bg-bg-focus text-clear rounded-full text-left material-symbols-rounded">
                        chevron_right
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>