<div class="my-16 bg-gray-500 p-8 text-white">
    <div class="border-[1px] border-gray-400 rounded-full">
        <ul class="flex flex-row [&>*]:p-4">
            <li class="font-bold mr-auto">World</li>
            <li>exibition</li>
            <li>artists</li>
            <li>press</li>
            <li class="ml-auto">shop</li>
        </ul>
    </div>
    <div class="grid grid-cols-3">
        <div class="h-80 bg-my-primary-900 rounded-full my-16 -mr-4 flex flex-col items-center justify-center">
            <svg class="text-white" viewBox="0 0 500 500">
                <path class="opacity-0" id="curve"
                    d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" />
                <text width="500">
                    <textPath class="text-4xl" xlink:href="#curve">
                        Dangerous Curves Ahead
                    </textPath>
                </text>
            </svg>
            <h1 class="text-white text-center text-3xl mb-3"> <span class="text-xl">The</span><br> Gallery</h1>
            <button class="btn rounded-full bg-my-accent-400 text-black text-2xs px-6">Discover</button>
        </div>
        <div class="h-80 bg-gray-400 rounded-full my-16 -ml-4 -mr-4 flex items-center justify-center">
            <h1 class="text-white">&</h1>
        </div>
        <div class="h-80 bg-gray-700 rounded-full my-16 -ml-4 flex items-center justify-center">
            <h1 class="text-white">21st Century</h1>
        </div>
    </div>
    <div class="grid grid-cols-4 space-x-8">
        <div>
            <h1>Absolutely unique body of work</h1>
        </div>
        <div class="col-span-2 text-xs">
            <h2>We are creating connections between paintings and sculpture in urban settings, our artists adopt a
                throughly innovative approact in artistic fusions in balanced combination of classical and contenporary
            </h2>
        </div>
        <div>
            <h2>21st century</h2>
        </div>
    </div>
</div>