<!-- <div class="text-gray-800 p-8 md:p-12">
  <app-landing></app-landing>
  <div class="flex items-center justify-center">
    <h3 class="p-4 rounded-full text-lg font-extrabold bg-gradient-to-b from-blue-300 to-fuchsia-300 inline">1</h3>
  </div>
  <h2 class="font-extrabold mt-4 text-gray-800 drop-shadow-md text-4xl text-center">Select</h2>
  <p class="mb-8 text-center text-gray-500 text-sm">explore 100+ palettes</p>
  <div class="flex overflow-scroll snap-x">
    <app-colors *ngFor="let theme of data" [theme]="theme" (onThemeChange)="onThemeChange($event)"></app-colors>
  </div>
  <div class="flex items-center justify-center">
    <h3 class="p-4 mt-16 rounded-full text-lg font-extrabold bg-gradient-to-b from-blue-200 to-fuchsia-200 inline">2
    </h3>
  </div>
  <h2 class="font-extrabold mt-4 text-gray-800 drop-shadow-md text-4xl text-center">Preview</h2>
  <p class="mb-8 text-center text-gray-500 text-sm">view selected palette in a responsive design</p>
  <app-dashboard class="flex items-center justify-center"></app-dashboard>
  <app-feedback-page></app-feedback-page>
  <app-error-page></app-error-page>
  <div class="flex items-center justify-center">
    <h3 class="p-4 mt-16 rounded-full text-lg font-extrabold bg-gradient-to-b from-blue-300 to-fuchsia-300 inline">3
    </h3>
  </div>
  <h3 class="font-extrabold mt-4 text-gray-800 drop-shadow-md text-4xl text-center">Copy</h3>
  <p class="mb-8 text-center text-gray-500 text-sm">get the css variable for your next project</p>
  <app-copy class="flex justify-center items-center" [variables]="variables"></app-copy>
</div> -->
<div class="text-black grid grid-cols-9 mx-4 my-16">
  <div class="col-span-1 justify-self-center">
    <div class="flex relative" *ngFor="let view of views">
      <button
        [ngClass]="{'border-2 !bg-white !border-my-primary-300 !shadow-lg !shadow-my-primary-300': view.id == viewClicked.id}"
        class="hover:after:content-['>'] after:font-thin after:absolute after:-right-5 after:inset-y-auto after:scale-[2]
              flex flex-col !border-2 border-white hover:border-my-primary-300 shadow-inner btn text-sm text-gray-800 py-8 mb-4 px-4 
              bg-my-gray-100 hover:bg-white rounded-lg w-full h-max" (click)="onViewClicked(view)">
        <img class="mb-4" src="../assets/{{view.img}}" alt="" height="50" width="50">
        <h4 class="text-xs">{{view.name}}</h4>
      </button>
    </div>
  </div>
  <div class="col-span-7 justify-self-center">
    <app-portfolio *ngIf="viewClicked.id == 1"></app-portfolio>
    <app-feedback-page *ngIf="viewClicked.id == 2"></app-feedback-page>
    <app-dashboard *ngIf="viewClicked.id == 3"></app-dashboard>
    <app-lg-dashboard *ngIf="viewClicked.id == 4"></app-lg-dashboard>
  </div>
  <div class="flex flex-col justify-self-center col-span-1 w-full gap-y-4">
    <app-colors class="w-full"
      [ngClass]="{'border-2 rounded-xl border-my-primary-300 shadow-lg shadow-my-primary-200': selectedPalette == theme}"
      *ngFor="let theme of data" [theme]="theme" (onThemeChange)="onThemeChange($event)"></app-colors>
  </div>
</div>