<!-- <div class="text-gray-800 p-8 md:p-12">
  <app-landing></app-landing>
  <div class="flex items-center justify-center">
    <h3 class="p-4 rounded-full text-lg font-extrabold bg-gradient-to-b from-blue-300 to-fuchsia-300 inline">1</h3>
  </div>
  <h2 class="font-extrabold mt-4 text-gray-800 drop-shadow-md text-4xl text-center">Select</h2>
  <p class="mb-8 text-center text-gray-500 text-sm">explore 100+ palettes</p>
  <div class="flex overflow-scroll snap-x">
    <app-colors *ngFor="let theme of data" [theme]="theme" (onThemeChange)="onThemeChange($event)"></app-colors>
  </div>
  <div class="flex items-center justify-center">
    <h3 class="p-4 mt-16 rounded-full text-lg font-extrabold bg-gradient-to-b from-blue-200 to-fuchsia-200 inline">2
    </h3>
  </div>
  <h2 class="font-extrabold mt-4 text-gray-800 drop-shadow-md text-4xl text-center">Preview</h2>
  <p class="mb-8 text-center text-gray-500 text-sm">view selected palette in a responsive design</p>
  <app-dashboard class="flex items-center justify-center"></app-dashboard>
  <app-feedback-page></app-feedback-page>
  <app-error-page></app-error-page>
  <div class="flex items-center justify-center">
    <h3 class="p-4 mt-16 rounded-full text-lg font-extrabold bg-gradient-to-b from-blue-300 to-fuchsia-300 inline">3
    </h3>
  </div>
  <h3 class="font-extrabold mt-4 text-gray-800 drop-shadow-md text-4xl text-center">Copy</h3>
  <p class="mb-8 text-center text-gray-500 text-sm">get the css variable for your next project</p>
  <app-copy class="flex justify-center items-center" [variables]="variables"></app-copy>
</div> -->
<div class="">
  <div class="text-black flex flex-col xl:flex-row min-h-screen min-w-screen relative">

    <section class="bg-gray-400 px-8 py-4 z-10 h-full lg:max-h-screen overflow-scroll sticky top-0 right-0">
      <div class="flex xl:flex-col justify-self-center h-min w-fit gap-y-2 gap-x-4">
        <app-colors *ngFor="let theme of data" [selectedTheme]="selectedPalette" [theme]="theme"
          (onThemeChange)="onThemeChange($event)"></app-colors>
      </div>
    </section>

    <div class="flex flex-col items-center bg-bg-focus w-full min-h-screen">
      <div class="flex gap-x-4 justify-self-center m-4">
        <div class="relative" *ngFor="let view of visibleViews">
          <button
            [ngClass]="{'!border-2 !bg-bg !border-my-primary-300 !shadow-lg !shadow-my-primary-300 transition-all': view.id == viewClicked.id}"
            class="flex justify-center items-center border-2 border-bg-focus shadow-lg hover:border-my-primary-300 shadow-inner text-sm text-clear py-2 px-4 
                  bg-bg hover:bg-bg-focus rounded-lg w-full h-max" (click)="onViewClicked(view)">
            <span class="material-symbols-rounded text-clear p-2 rounded-full bg-bg-focus border mr-2 border-bg">
              {{view.img}}
            </span>
            <h4 class="text-xs">{{view.name}}</h4>
          </button>
        </div>
      </div>

      <app-copy [variables]="selectedPalette"></app-copy>

      <div>
        <app-portfolio *ngIf="viewClicked.id == 1"></app-portfolio>
        <app-feedback-page *ngIf="viewClicked.id == 2"></app-feedback-page>
        <app-dashboard *ngIf="viewClicked.id == 3"></app-dashboard>
        <app-lg-dashboard class="lg:opacity-100 opacity-0" *ngIf="viewClicked.id == 4"></app-lg-dashboard>
        <app-landing-page *ngIf="viewClicked.id == 5"></app-landing-page>
        <app-portfolio2 *ngIf="viewClicked.id == 6"></app-portfolio2>
        <app-landing2 *ngIf="viewClicked.id == 7"></app-landing2>
      </div>
    </div>

  </div>
</div>