<div class="w-full h-24 bg-gray-100 rounded-tr-3xl rounded-tl-3xl relative overflow-hidden bg-cover">
  <svg class="w-5 h-5 absolute top-0 right-1/2" id="triangle" viewBox="0 0 100 100">
    <polygon points="50 15, 100 100, 0 100"/>
  </svg>
  <svg class="w-10 h-10 absolute top-1/2 right-2/3" id="triangle" viewBox="0 0 100 100">
    <polygon points="50 15, 100 100, 0 100"/>
  </svg>
  <svg class="w-12 h-12 absolute bottom-0-0 left-2/3 rotate-180" id="triangle" viewBox="0 0 100 100">
    <polygon points="50 15, 100 100, 0 100"/>
  </svg>
  <svg class="w-28 h-28 absolute top-0 right-4" id="triangle" viewBox="0 0 100 100">
    <polygon points="50 15, 100 100, 0 100"/>
  </svg>
  <svg class="w-12 h-12 absolute bottom-0 left-12 rotate-180" id="triangle" viewBox="0 0 100 100">
    <polygon points="50 15, 100 100, 0 100"/>
  </svg>
  <div class="h-12 w-12 absolute top-1/2 right-1/2 rounded-full bg-gray-500"></div>
  <div class="h-12 w-12 absolute top-0 -right-4 rounded-full bg-gray-500"></div>
  <div class="h-12 w-12 absolute -top-4 left-8 rounded-full bg-gray-500"></div>
</div>
