<nav>
  <ul class="space-y-6 ">
    <li class="flex text-xs items-center">
      <span class="scale-75 material-symbols-rounded text-gray-500 mr-2">dashboard</span>
      Dashboard
    </li>
    <li class="flex text-xs items-center">
      <span class="scale-75 material-symbols-rounded text-gray-500 mr-2">inbox</span>
      Inbox
    </li>
    <li class="flex text-xs items-center">
      <span class="scale-75 material-symbols-rounded text-gray-500 mr-2">playlist_add_check</span>
      Projects
    </li>
    <li class="flex text-xs items-center">
      <span class="scale-75 material-symbols-rounded text-gray-500 mr-2">description</span>
      Notes
    </li>
    <li class="flex text-xs items-center">
      <span class="scale-75 material-symbols-rounded text-gray-500 mr-2">settings</span>
      Settings
    </li>
  </ul>
</nav>
