<h2 class="font-semibold mb-4 text-xs text-clear">Continue watching</h2>
<div class="space-y-4">
  <div class="flex justify-center items-center bg-bg-focus rounded-lg p-3">
    <!--    <span class="material-symbols-rounded my-auto">vpn_key</span>-->
    <div class="mr-auto flex justify-center items-center">
      <span class="material-symbols-rounded mb-1 text-dull mr-3">
        vpn_lock
      </span>
      <div class="flex flex-col">
        <h3 class="text-xxs font-medium text-clear ">Intro to Cyber-security</h3>
        <span class="text-dull text-sm">Paul Newman</span>
      </div>
    </div>
    <div class="radial-progress text-[0.6rem] text-dull" style="--value:70; --size:2.5rem;">70%</div>
  </div>

  <div class="flex justify-center items-center bg-bg-focus rounded-lg p-3">
    <div class="mr-auto flex justify-center items-center">
      <span class="material-symbols-rounded mb-1 text-dull mr-3">
        polymer
      </span>
      <div class="flex flex-col">
        <h3 class="text-xxs font-medium text-clear">Intro to Polymer</h3>
        <span class="text-dull text-sm">Zahir Khan</span>
      </div>
    </div>
    <div class="radial-progress text-[0.6rem] text-dull" style="--value:45; --size:2.5rem;">45%</div>
  </div>
</div>