<div class="shadow-2xl border-4 border-duller relative max-h-[75rem] max-w-[22rem] bg-bg rounded-2xl m-4">
  <div class="w-32 h-6 absolute top-0 right-1/2 bg-duller translate-x-1/2 rounded-b-lg">
  </div>
  <div>
    <div class="flex w-full p-4 mt-8">
      <app-avatar></app-avatar>
      <app-notification class="ml-auto"></app-notification>
    </div>
    <div class="px-4 py-4">
      <app-banner></app-banner>
    </div>
    <div class="ml-4 mt-2">
      <app-stats></app-stats>
    </div>
    <div class="pb-4 px-4 pt-2">
      <app-courses></app-courses>
    </div>
  </div>
</div>